a {
    text-decoration: underline !important;
    color: #0000EE !important;
}

a:visited {
    color: #551A8B !important;
}

a:hover, a:focus {
    text-decoration: underline !important;
